<div class="container-fluid main-container">
    <div class="container banner1">
        <h1>welcome to <span>yaba college of technology </span> <span>ime emrs</span></h1>

    </div>
    <div class="container ">
        <button routerLink="/about" ariaCurrentWhenActive="page">about emrs</button>
        <button routerLink="/register"  ariaCurrentWhenActive="page">register</button>
        <button routerLink="/main"  ariaCurrentWhenActive="page">dashboard</button>
        <button routerLink="/contact"  ariaCurrentWhenActive="page">contact us</button>
    </div>
</div>
<app-footer></app-footer>
