<div class="container">
   <h1 class="title text-center text-uppercase">about ime emrs</h1>
   <p class="text-capitalize">we started our research by looking at how various hospitals keep their record here in nigeria. the common process of keeping record is physical, i.e storing of paper in the file room, making the process of keeping data an intranet and not an internet mode of storage was also considered too. </p>
   <p class="text-capitalize">our main target is to convert existing medical records(paper) into electronic medical records (cloud storage), and to also make it a prerequisite for all staff and student to register so as to store their data directly to our locally created database(cloud)</p>
   <button  type="submit" routerLink="/landing"  ariaCurrentWhenActive="page" class="btn btn-dark center">go back</button>

</div>
