nav{
    background-color: #017701;
    /* z-index: 999; */
    position: fixed;
    width: 100%;
    overflow: hidden;
    padding-bottom: 0;
}
nav a {
    padding: 14px 16px;
    display: block;
}
.authLinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.active {
    font-weight: bold;
  }