/* Apply styles to the entire form */
form {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style form labels */
label {
    font-weight: bold;
}

/* Style input elements */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the blood pressure input separately */
input#bloodPressure {
    text-transform: uppercase; /* Convert to uppercase */
}

/* Style the submit button */
button {
    background-color: rgba(40, 167, 69, 0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Change button color on hover */
button:hover {
    background-color: #0056b3;
}
