/* Style the container */
.center-container {
  max-width: 365px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
}

/* Style the form */
.center-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style form controls, labels, and alerts */
.center-container input
 {
  margin: 5px 0;
  width: 100%;
}

.center-container .alert {
  color: red;
}

/* Style the Sign Up button */
.center-container button {
  margin: 20px 0;
  background-color: #007acc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

.center-container button:hover {
  background-color: #005aa0;
}
label{
  width: 100%;
  text-align: left;

}