<div class="container-fluid">
    <div class="canvass-container container">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
            aria-controls="staticBackdrop">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
        </button>

        <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
            aria-labelledby="staticBackdropLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="staticBackdropLabel">Dashboard</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <ul class="linkList">
                        <li class="listItems" routerLink="/vitals" ariaCurrentWhenActive="page"><a href="">Check & Record Vitals</a></li>
                        <li class="listItems" routerLink="/confirmation" ariaCurrentWhenActive="page"><a href="">Appointment Confirmation</a></li>
                        <li class="listItems" routerLink="/prescription" ariaCurrentWhenActive="page"><a href="">Prescription</a></li>
                    </ul>
                    <div class="opt-out">
                        <ul>
                            <li class="listItems"><a href="">logout</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <h1 class="greetings">Hi, <span class="greeting-msg users"><em>Doctor/Nurse/Pharmacist</em></span></h1>
        <h2>Welcome back to your dashboard</h2>
        <h2>You can
            <ul>
                <li>Record Patients <strong>vitals</strong></li>
                <li>Record <strong>Prescriptions</strong></li>
                <li>more than these you can do many more</li>
            </ul>
        </h2>
    </div>

</div>