<div class="container">
    <p>APPOINTMENT FORM</p>
    <input type="text" name="name" required placeholder="Enter Name">
    <input type="email" name="email" required placeholder="Enter Name">
    <select name="designation_type">
        <option value="student">Student</option>
        <option value="staff">Medical Staff</option>
        <option value="others">Others</option>
    </select>
    <input type="text" name="rfa" required placeholder="Reasons For Appointment">
    <input type="text" name="past_ailment" required placeholder="Past Ailment">
    <input type="text" name="current_diagnosis" replaced placeholder="Current Dignosis">
    <p><small>DESIRED DATE OF APPIONTMENT</small></p>
    <input type="date" name="doa" required placeholder="Date of Appointment">
    <input type="submit" name="btn" value="Book Now">
</div>

<div class="container-fluid">
    <div class="sucees-message">
        <h2>HI, <span>Patient</span></h2>
        health is wealth
        thank you for fiilling the booking form
        we would get to you via email
        <button class="btn-transaprent"> Log out</button>
    </div>
</div>